{% extends 'portafolio/base.html' %}
{% load static %}

{% block title %}Portafolio — Carol y Daniela{% endblock %}

{% block content %}

<section id="sobre" class="grid-2">
  <article class="card">
    <img class="avatar" src="{% static 'portafolio/img/carol.jpeg' %}" alt="Foto de Carol Marcel">
    <h2>Carol Marcel</h2>
    <p>Analista Programador</p>
    <ul class="bullets">
      <li>📍 Nacida en Santiago de Chile</li>
      <li>🎂 35 años</li>
      <li>💼 Tengo mi emprendimiento de Repostería y Pastelería casera</li>
    </ul>
    
    <h3>Hobbies</h3>
    <ul class="bullets">
      <li>🎤 Cantar</li>
      <li>🥾 Senderismo</li>
      <li>💃 Bailar</li>
    </ul>

    <h3>Estudios</h3>
    <ul class="bullets">
      <li>🎓 Analista Programador — INACAP (2024 – Actualmente)</li>
      <li>🎓 Administradora Financiera — Duoc UC (2015)</li>
    </ul>

    
    <p>
      <a class="btn" href="https://www.linkedin.com/in/carol-grace-marcel-vega" target="_blank">LinkedIn</a>
      <a class="btn" href="https://www.github.com/CarolMarcel" target="_blank">GitHub</a>
      <a class="btn" href="https://www.instagram.com/carolmarcelvega?igsh=MWNsamdlb3VhcTh5Zw==" target="_blank">Instagram</a>
    </p>
  </article>

  <article class="card">
    <img class="avatar" src="{% static 'portafolio/img/daniela.jpeg' %}" alt="Foto de Daniela Landaeta">
    <h2>Daniela Landaeta</h2>
    <p>Analista Programador</p>
    <ul class="bullets">
      <li>📍 Nacida en Venezuela</li>
      <li>🎂 24 años</li>
      <li>💼 Analista de calidad en un Callcenter</li>
    </ul>

    <h3>Hobbies</h3>
    <ul class="bullets">
      <li>🎮 Videojuegos</li>
      <li>🏐 Voleibol</li>
      <li>📺 Ver series</li>
    </ul>

    <h3>Estudios</h3>
    <ul class="bullets">
      <li>🎓 Colegio Guayamurí (Venezuela)</li>
      <li>💻 Analista Programador Computacional en INACAP</li>
    </ul>

    <p>
      <a class="btn" href="https://github.com/DanielaLandaeta00" target="_blank">GitHub</a>
      <a class="btn" href="https://www.instagram.com/danielaelandaeta?igsh=MTA4ZjVwejgyNHdy&utm_source=qr" target="_blank">Instagram</a>
    </p>

  </article>
</section>

<section id="portafolio">
  <h2>Proyectos</h2>
  <div class="grid-2">
    <div class="card"><h3>Tienda Online</h3><p>HTML, CSS y JavaScript.</p></div>
    <div class="card"><h3>Blog Personal</h3><p>Diseño y CMS básico.</p></div>
    <div class="card"><h3>Aplicación de Notas</h3><p>React para gestión de notas.</p></div>
    <div class="card"><h3>Dashboard Admin</h3><p>Panel de administración con estadísticas.</p></div>
  </div>
</section>

<section id="contacto">
  <h2>Contacto</h2>
  <p>¿Comentarios o propuestas? Escríbenos desde la pestaña <a href="{% url 'contacto' %}">Contacto</a>.</p>
</section>

{% endblock %}